<header class="no-search clearfix">
  <div class="header-left">
    <a href="javascript:goBack()" id="back">
      <!-- <%= image_tag "mobile/base/back.svg" %> -->
    </a>
  </div>
  <!--  -->
  <div class="ordersHeader_title"></div>
</header>
