<header class="no-search">
  <div class="home left">
    <a href="/">
      <%= image_tag "mobile/top_arrow.png" %>
    </a>
  </div>
  <div class="profile right">
    <a href="/mine" class="valign">
      <%= image_tag "mobile/topr_ico.png" %>
    </a>
  </div>
</header>

