<% content_for :header do %>
<style>
  body{
    background-color: #f3f4f5;
  }
</style>
<header class="no-search clearfix">
  <div class="header-left">
    <a href="javascript:goBack()" id="back"></a>
  </div>
  <div class="ordersHeader_title">修改密码</div>
</header>
<% end %>
<% content_for :main do %>
<main class="container new-tel">
    <!-- <div class="page-title">修改密码</div> -->
    <% flash.each do |type, message| %>
          <% unless message.blank? %>
            <div class="alert <%= twitterized_type(type) %> fade in text-center">
              <%= message %>
            </div>
          <% end %>
    <% end %>
    <%= form_tag '/my/update_password', method: 'put', class: 'pure-form' do %>
      <fieldset class="">
        <div class="input-box">
          <span>旧密码</span>
          <input type="password" class="pure-input-1" name="user[old_password]" placeholder="请输入旧密码">
        </div>
        <div class="input-box">
          <span>新密码</span>
          <input type="password" class="pure-input-1" name="user[Password]" placeholder="请输入新密码">
        </div>
        <div class="input-box">
          <span>确认密码</span>
          <input type="password" class="pure-input-1" name="user[password_confirmation]" placeholder="请确认密码">
        </div>
      </fieldset>
      <p></p>
      <div class="btn btn-change-pwd">修改</div>
    <% end %>
</main>
<script>setBackUrl("/mine");</script>
<% end %>
<% content_for :footer do %>&nbsp;<% end %>
<% content_for :script do %>
  <%= javascript_include_tag 'session', 'data-turbolinks-track' => true %>
<% end %>

