<div class="sub_nav left">
  <h3>我的进货宝</h3>
  <ul>
    <li><a href="/my/orders"><span></span>我的订单</a></li>
    <li><a href="/my/favorites"><span></span>我的收藏</a></li>
    <!-- <li><a href="/my/integral"><span></span>我的积分</a></li>
    <li><a href="/my/coupons"><span></span>我的优惠券</a></li> -->
    <li><a href="/my/coupons"><span></span>我的钱包</a></li>
    <li><a href="/my/info"><span></span>我的资料</a></li>
    <li><a href="/my/password"><span></span>修改密码</a></li>
    <li><a href="/my/address"><span></span>收货地址管理</a></li>
  </ul>
</div>
