<div class="warp">
<div class="w990">
    <%= image_tag 'index/bottomdb.png' , style: "margin-left:-3px; margin-top:20px;"%>
</div>
<div class="footer" id="footer">
    <div class="footer1 clearfix">
        <a href="/">
            <%= image_tag 'index/logo2.png'%>
        </a>
        <dl class="code-box">
            <dt>&lt; 扫一扫 添加关注 &gt;</dt>
            <dd class="weibo-box">官方微博</dd>
            <dd class="weixin-box">官方微信</dd>
        </dl>
        <div class="middle clearfix">
            <ul>
                <h4>购物指南</h4>
                <li><a href="/common/guide#001">购物流程</a></li>
                <li><a href="/common/guide#002">配送时效</a></li>
                <li><a href="/common/guide#003">配送区域</a></li>
                <li><a href="/common/guide#004">发票流程</a></li>
                <li><a href="/common/guide#005">支付方式</a></li>
            </ul>
            <ul>
                <h4>售后服务</h4>
                <li><a href="/common/after#006">退款规则</a></li>
                <li><a href="/common/after#007">退货流程</a></li>
            </ul>
            <ul>
                <h4>客服热线</h4>
                <li><a href="/common/service">服务时间</a></li>
                <li><a href="/common/service">客服热线</a></li>
            </ul>
            <ul>
                <h4>关于进货宝</h4>
                <li><a href="/common/about">关于我们</a></li>
                <li><a href="/common/team">团队介绍</a></li>
                <li><a href="/common/join_us">人才招聘</a></li>
                <li><a href="/common/reports">媒体报道</a></li>
                <!-- <li><a href="/common/partners">>合作伙伴</a></li> -->
                <li><a href="/common/contact_us">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="footer_box">
        <div class="footer_bot">
            <p>
                <!-- <a href="/common/about">关于进货宝</a>
                <a href="javascript:">合作伙伴</a> -->
                <a href="/common/service">联系客服</a>
                <a href="/common/law">法律声明</a>
                <span class="copy">&copy;2015 JINHUOBAO.COM.CN 版权所有</span>
                <span style="margin-left:10px;">京ICP备15050962号-1</span>
            </p>
        </div>
    </div>
</div>
</div>
