<div class="footer">
  <footer class="w960">
    <div class="top">
      <div class="us">
        <a href="/common/about">公司介绍</a>
        <a href="/common/team">团队介绍</a>
        <a href="/common/join_us">加入我们</a>
        <a href="/common/contact_us">合作共赢</a>
        <a href="/common/reports">进货宝资讯</a>
      </div>
      <div class="server">
        <p><span class="tel">010 - 67832728 转 6023</span></p>
        <p><span class="address">旧鼓楼大街张旺胡同17号</span></p>
        <!-- <a href="mailto:jinhuobao@davidchoice.com" class="mail">jinhuobao@davidchoice.com</a> -->
        <p><i class="icon"></i><a href="javascript:;" id="call-server">在线客服</a></p>
      </div>
      <div class="weixin">
        <div class="img-box">
          <%= image_tag 'newPC/weixinCode.png' + image_webp %>
        </div>
        <a href="javascript:;" class="">进货宝财神爷</a>
      </div>
      <div class="login">
        <a href="http://m.jinhuobao.com.cn/sign_in">登录</a>
        <a href="http://m.jinhuobao.com.cn/sign_up">注册</a>
      </div>
    </div>
    <div class="bottom">
      &copy;2016 北京进货宝网络科技有限公司&copy; 平台技术支持 京ICP备15050962号-1
    </div>
  </footer>
</div>
