<title>进货宝（ jinhuobao.com.cn）B2B综合采购平台— 性价比高，好又不贵，快速到达，简单易用</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="baidu-site-verification" content="aDqpMBPlnL" />
<meta name="description" content="进货宝（jinhuobao.com.cn）采购平台，批发采购就上进货宝。“进货宝”致力于成为联接品牌厂商和社区商户的直接纽带，帮助社区便利店降低进货成本，打造渠道互联网+背景下的社区商业新生态" />
<meta name="Keywords" content="批发，进货，采购，社区商业，食品，饮料，白酒，快消品，店面，送货上门，免邮，打折，促销，小区" />

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<%= csrf_meta_tags %>
