html,
body {
  width: 100%;
  height: auto;
  //overflow-x: hidden;
}
div,
a,
section {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
main {
  margin-top: 4.4rem;
}
.venue {
  height: 38.35rem;
  padding: .7rem 1.8rem .7rem 2.3rem;
  img {
    width: 100%;
    height: 100%;
  }
}
.countdown {
  position: relative;
  width: 100%;
  height: 8rem;
  padding-top: .9rem;
  text-align: center;
  background-color:#fff;
  h3 {
    position: relative;
    z-index: 5;
    display: inline-block;
    padding: 0 0.6rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fe0058;
    background: #fff;
  }
  .red-line {
    position: absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
    top: 3.1rem; 
    width: 80%;
    height: 0;
    margin: 0 auto;
    border-top: 2px solid #fe0058;
  }
  .time-box {
    text-align: center;
    span {
       display: inline-block;
       margin-right:.2rem;
       vertical-align: bottom; 
       em {
         display: inline-block;
         width: 1.5rem;
         height: 2.2rem;
         margin-right: .2rem;
         border: 0;
         background-color: #000;
         font-style: normal;
         color: #fff;
         line-height: 2.2rem;
       }
    }
    strong {
      display: inline-block;
      vertical-align: bottom;
      font-family: "宋体";
      font-size: 1.3rem;
      font-style: normal;
      font-weight: bold;
      color: #f16377;
    }

  }
}
.nav-list {
  padding: 0 .25rem;
  width: 100%;
  height: 8.6rem;
  background-color: #13cfb6;
  div {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-left: .2rem;
  }
  a {
    display: block;
    float: left;
    margin: .5rem .2rem;
    width: 9.7rem;
    width:-moz-calc((100% - 1.8rem)/3);
    width:-webkit-calc((100% - 1.8rem)/3);
    width: calc((100% - 1.8rem)/3);
    height: 3.2rem;
    border: .2rem solid #000;
    border-radius: 8px;
    background-color: #fcec03;
    text-align: center;
    &.on {
      background-color: #fe0058;
      color: #fff;
    }
    span {
      display: block;
      font-weight: bold;
      line-height: 1.4rem;
    }
  }  
}

.turntable {
  width: 100%;
  height: auto;
  .rule {
    display: inline-block;
    height: 3rem;
    font-family: '宋体';
    font-weight: bold;
    font-size: 1.2rem;
    color:  #fff;
    text-indent: 2.1rem;
    line-height: 3rem;
  }
  .prize-box {
    padding: 0 1.4rem;
    .wrapper {
      height: 24.1rem;
      margin: 0 auto;
      background-image: image-url("mobile/events/anniversary/choujiang.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding: 1.1rem 1.15rem;
      .col {
        padding: 0;
      }
      .prize {
        height: 7.1rem;
        margin-bottom: .4rem;
        padding-left: .4rem;
        .spec {
          padding: .8rem;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          background-image: image-url("mobile/events/anniversary/huang.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
        &.on {
          img {
            background: #fe0058;
          }
        }
      }
    }
   }
}

.title {
  width: 24.6rem;
  height: 5.2rem;
  margin: 0 auto;
  margin-top: 2.3rem;
  img {
    width: 100%;
    height: 100%;
  }
}
.coupon-lpt {
  width: 100%;
  height: auto;
  .coupon-list {
    position: relative;
    width: 100%;
    height: 20.2rem;
    padding: 0 1.3rem;
    margin-top: 1.4rem;
    overflow: hidden;
    .row { 
      width: 100%;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      .item {
        float: left;
        width: 6.8rem;
        height: 6.8rem;
        margin: 0 auto;
        margin-right: .2rem;
        border: .2rem solid #000;
        border-radius: 50%;
        overflow: hidden;
        background-color: #fff;
        background-image: image-url("mobile/events/anniversary/coupon_bg_top.png");
        background-repeat: no-repeat;
        background-position: -0.2rem -0.2rem;
        background-size: 6.8rem 2.7rem; 
        span {
          line-height: 2.5rem;
          font-size: 1.5rem;
          font-weight: bold;
          color: #fff;
       } 
      .logo {
        width: 100%;
        height: 3.5rem;
        text-align: center;
        button {
          width: 100%;
          height: 100%;
          background: none;
          border: none;
          outline: none;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
     }
      &.g1 {
        width: 75%;
        width:-moz-calc(100% - 6.8rem);
        width:-webkit-calc(100% - 6.8rem);
        width:calc(100% - 6.8rem);       
      }
      &.g2 {
        margin-top: -0.8rem;
      }
      &.g3 {
        width: 75%;
        width:-moz-calc(100% - 6.8rem);
        width:-webkit-calc(100% - 6.8rem);
        width: calc(100% - 6.8rem);
        margin-top: -0.8rem;
      }
    }
  }
}

.popup-box {
  position: relative;
  z-index: 99;
  display: none;
  .layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
  }
  .wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    width: 26rem;
    height: 30rem;;
    background-color: #fff;
    border-radius: 5px;
    .rule-top {
      width: 100%;
      text-align: center;
      .rule-title {
        height: 4rem;
        line-height: 4rem;
        font-size: 1.5rem;
      }
    }
    .rule-content {
      padding: 0 1.1rem;
      margin-top: .6rem;
      h5 {
        line-height: 2rem;
      }
      p {
        margin: .3rem;
        font-size: 1.2rem;
        color: #909090;
      }
    }
    .close {
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: 0;
      right: 0;
      z-index:100;
      text-align: center;
      line-height: 4rem;
      font-size: 3rem;
     // background: #fe0058;
    }
  }
}
#header {
  position: fixed;
  top: 0;
  left: 0;
}
.back-to-top {
  display: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  z-index: 999;
  border-radius: 50%;
  img {
    width: 100%;
    height: 100%;
  }
}

//二级页面
.second-page {
  margin-top: 3rem;
  .floor-img {
  }
  .item-cont {
    margin: 0;
    padding: 0;
    padding-right: .3rem;
    li {
      width: 48%;
      margin: 0 .5rem;
      margin-bottom: .3rem;
      margin-right: 0;
      .item-img {
        width: 100%;
      }
    }
  }
}
.declaraction {
  text-align: center;
  margin-top: 10rem;
}








