/*
 *= require vendors/jquery.fullpage.min
 */

html,
body,
main {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
    display: inline-block;
}

#back {
    position: fixed;
    z-index: 5000;
    top: 1rem;
    left: 1.5rem;
    width: 2.2rem;
    display: none;
    a {
        display: block;
        padding: .5rem;
    }
}

.section {
    display: none;
    &.active {
        display: block;
    }
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.bg,
.part {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
}

.part {
    display: none;
}

#p1 {
    background-color: #fff;
}

#p2 {
    background-color: #4e85ff;
}

#p3 {
    background-color: #ff714f;
}

#p4 {
    background-color: #a049ff;
}
