@import "variable";
footer {
    div {
        color: #adadad;
        padding: 2rem 0 1rem 0;
    }
}

@font-face {
    font-family: Squada One;
    /*定义font的名字*/
    src: font-url('mobile/fonts/SquadaOneregular.ttf');
    /*把下载的字体文件引入进来*/
}

.header-small-text {
    font-size: 1.2rem;
    color: #606060;
}

body {
    width: 32rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #e62e46;
    height: 4.4rem;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    &>div,
    &>a {
        display: block;
        height: 2.4rem;
    }
    .header-left {
        width: 3.5rem;
        position: absolute;
        top: 0;
        // left: 0;
        // top: .8rem;
        height: 100%;
        // float: left;
        text-align: center;
        a {
            display: block;
            height: 100%;
            background: image-url('mobile/base/back.svg') center center no-repeat;
            background-size: auto 1.5rem;
        }
        // img {
        //     vertical-align: middle;
        //     height: 1.55rem;
        // }
        &.tel-login {
            a {
                background: image-url('mobile/back.png') center center no-repeat;
            }
        }
    }
    .header-center {
        width: 100%;
        margin-left: 3.5rem;
        padding-right: 7rem;
        position: relative;
        top: .75rem;
    }
    .header-center-only {
        @extend .header-center;
        padding: 0 1.6rem;
        margin-left: 0;
    }
    .header-right {
        position: absolute;
        right: 0;
        top: 0;
        height: 4.4rem;
        text-align: center;
        a {
            display: block;
            height: 4.4rem;
            line-height: 4.4rem;
            margin-right: 1.2rem;
        }
        img {
            top: .3rem;
            // vertical-align: middle;
            height: 1.8rem;
            position: relative;
        }
    }
    .header-2-m {
        @extend .header-center-only;
        padding: 0 4.2rem 0 7.8rem;
        // padding: 0 4.2rem;
    }
    .header-2-l {
        position: absolute;
        height: 2.9rem;
        width: 7.8rem;
        left: 0;
        top: .8rem;
        z-index: 20;
        text-align: center;
        &>span,
        &>img {
            display: inline-block;
        }
        &>span {
            font-size: 1.6rem;
            line-height: 2.9rem;
            color: #fff;
            text-align: right;
            margin-top: .1rem;
            &.three {
                font-size: 1.4rem;
            }
            &.four {
                font-size: 1.4rem;
            }
        }
        &>img {
            // margin-left: .5rem;
            height: .6rem;
            margin-bottom: .26rem;
        }
    }
    // .header-2-l {
    //     position: absolute;
    //     height: 2.9rem;
    //     width: 4.2rem;;
    //     left: 0;
    //     top: 1rem;
    //     z-index: 20;
    //     text-align: center;
    //     a {
    //         width: 100%;
    //         height: 100%;
    //         float: left;
    //         background-repeat: no-repeat;
    //         background-position: center center;
    //         background-size: auto 1.8rem;
    //     }
    // }
    .header-2-r {
        position: absolute;
        right: 0;
        top: 1rem;
        z-index: 20;
        width: 4.2rem;
        height: 2.9rem;
        span {
            float: right;
            margin-right: 0.6rem;
            height: 1.2rem;
            line-height: 1.2rem;
            padding: 0 0.2rem;
            background-color: #fff;
            border-radius: 0.5rem;
            border: 1px solid #e62e46;
            font-size: 1rem;
            color: #E62E46;
        }
        a {
            width: 100%;
            height: 100%;
            float: left;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 1.8rem;
        }
    }
    .message {
        background-image: image-url('mobile/index/message-tip.png');
    }
    .scan-code {
        background-image: image-url('mobile/index/scan-code.png');
    }
    .fake-input {
        height: 2.9rem;
        width: 100%;
        font-size: 1.3rem;
        background-color: #fff;
        border-radius: .5rem;
        background-image: image-url("mobile/base/search.svg");
        background-repeat: no-repeat;
        background-position: 1rem .65rem;
        background-size: 1.6rem auto;
        font-size: 1.4rem;
        line-height: 3rem;
        color: #c0c0c0;
        text-indent: 3.3rem;
        -webkit-transition: background-color .3s linear, color .3s linear;
        -moz-transition: background-color .3s linear, color .3s linear;
        -o-transition: background-color .3s linear, color .3s linear;
        transition: background-color .3s linear, color .3s linear;
    }
    .app {
        .header-2-m {
            padding: 0 7.3rem 0 7.8rem;
        }
        .header-2-r {
            width: 7.3rem;
            a {
                width: 50%;
            }
        }
        .fake-input {
            font-size: 1.3rem;
            text-indent: 3rem;
            background-position: 0.8rem center;
        }
    }
}

header.posi {
    .header-left a {
        background-image: image-url("mobile/base/close.svg");
    }
}

.header-base {
    line-height: 4.4rem;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    position: relative;
}

header.title {
    @extend .header-base;
    // #back {
    //     position: absolute;
    //     left: 1.2rem;
    //     top: .3rem;
    //     height: 2rem;
    // }
}

header.fake-search {
    position: fixed;
    top: 0;
    // left: 0;
    width: 100%;
    max-width: 32rem;
    z-index: 30;
    overflow: hidden;
    &.location-header {
        height: auto;
    }
    .iconfont {
        font-weight: 500;
        font-size: 1.7rem;
    }
    .header-wrapper {
        position: relative;
        height: 4.4rem;
        &>div,
        &>a {
            display: block;
            height: 2.4rem;
        }
    }
}

header.index-search {
    background: -webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));
    background: linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    .fake-input{
        background-color: rgba(255,255,255,0.3);
        background-image: image-url("mobile/base/search-white.svg");
        color: #fff;
    }
}

.bg-jhb-red{
    background: #e62e46!important;
    .header-wrapper  {
        .fake-input{
            background-color: #fff;
            background-image: image-url("mobile/base/search.svg");
            color: #c0c0c0;;
        }
    }
}

header.location {
    @extend .header-base;
    border-bottom: 1px solid #d0d0d0;
    background-color: #fff;
    color: #404040;
    .header-left {
        top: 0.6rem;
        img {
            margin-left: .7rem;
            padding: .5rem;
            height: 2.4rem;
        }
    }
}

header.carts {
    position: absolute;
    left: 0;
    top: 0;
}

main.index {
    padding-top: 0;
    // overflow: hidden;
}

main.product {
    // margin-top: 4.4rem;
}

main.product.has-category {
    margin-top: 2.7rem;
}

main.cart {
    padding-top: 4.4rem;
}

header.down-app + main.index {
    padding-top: 8.8rem;
}

header.no-search {
    height: 4.4rem;
    line-height: 4.4rem;
    // background-color: #fdfdfd;
    // background-image: image-url("mobile/logo.png");
    // background-repeat: no-repeat;
    // background-position: 50% .6rem;
    // background-size: 6rem auto;
}

header.back-share {
    @extend header.no-search;
    @extend header.fake-search;
    .header-left img {
        vertical-align: middle;
        height: 1.55rem;
        margin-top: -0.7rem;
    }
}

main.activity,
main.rush {
    margin-top: 0;
}

#toast-container {
    // top: 0!important;
}

.toast {
    text-align: center;
}

main {
    padding-bottom: 4.9rem;
}

main.cart {
    padding-bottom: 15rem;
}

footer.nav-footer {
    height: 4.9rem;
    border-top: 1px solid #d3d3d3;
    width: 100%;
    margin: 0 auto;
    max-width: 32rem;
    z-index: 1000;
    background-color: #fbfbfb;
    position: fixed;
    // height: 3.8rem;
    bottom: 0;
    padding: 0;
    .row {
        padding: 0;
        height: 100%;
    }
    .col {
        position: relative;
        width: 20%;
        height: 100%;
        &.active>a {
            color: #e62e46;
        }
    }
    .cart-num {
        display: inline-block;
        position: absolute;
        top: 0.3rem;
        right: 1.9rem;
        min-width: 1.4rem;
        height: 1.4rem;
        color: #fff;
        background-color: #ef4444;
        font-size: 1rem;
        line-height: 1rem;
        padding: .2rem;
        border-radius: 50%;
    }
    i.iconfont {
        color: #565656;
        font-size: 1.6rem;
    }
    a {
        padding-top: .45rem;
        display: block;
        text-align: center;
        line-height: 1.4;
        color: #666;
        // font-weight: 400;
    }
    img {
        height: 2.2rem;
        display: inline-block;
    }
    div {
        color: #333!important;
    }
}

footer.anniver {
    background-color: #fdfdfd;
    .cart-num {
        right: 1.2rem;
    }
    a {
        padding-top: .55rem;
        height: 100%;
    }
    .col:nth-child(3) {
        padding: 0;
        // a{
        //   color: #E62E46 !important;
        // }
        img {
            height: auto;
            width: 75%;
            margin-top: -0.5rem;
        }
    }
}

.bj {
    width: 20%;
    height: 4.1rem;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-color: #d3d3d3 transparent transparent transparent;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -10%;
    bottom: 1.5rem;
    z-index: -1;
}

.num-box {
    margin: 0;
    width: 10rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    margin: .3rem 0;
    overflow: hidden;
    a {
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0;
        display: inline-block;
        font-size: 1.6rem;
        text-align: center;
        border-left: 1px solid #ccc;
        padding: 0;
        color: #000;
        width: 2.5rem;
        &:first-child {
            border-right: 1px solid #ccc;
            border-left: 0;
        }
    }
    input {
        height: 2.5rem;
        line-height: 2.5rem;
        display: inline-block;
        text-align: center;
        padding: 0;
        border: 0;
        color: #000;
        background-color: #fff;
    }
}

pre.padding {
    word-wrap: break-word;
}

.pagination {
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: auto;
    padding: 1rem;
    font-size: $middle;
    span {
        display: inline-block;
        font-size: 1.2rem;
        padding: 0 0.5rem;
        line-height: 2rem;
        border-radius: 2px;
        text-align: center;
        color: $jhb-grey;
        a {
            color: #444;
        }
        &.current a {
            color: $jhb-grey;
        }
        &.current {}
        &.disabled a {
            cursor: default;
            color: #999;
        }
        i {
            font-size: 2rem;
        }
    }
}

.bg-right-arrow {
    background-image: image-url("mobile/right_icon.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: auto 1.2rem;
}

.right-arrow {
    position: absolute;
    right: 1.5rem;
    display: inline-block;
    height: 100%;
    padding-top: .5rem;
    img {
        height: 60%;
    }
}


/* alert */

.alert {
    padding: .5rem;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#fill-address {
    background: image-url("mobile/fill_address.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    z-index: 20000;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(40, 40, 40, .8);
    a {
        display: block;
        position: absolute;
        height: 3rem;
        &:first-child {
            width: 3rem;
            top: 46%;
            right: 8%;
        }
        &.close-btn {
            width: 8rem;
            top: 59%;
            left: 22%;
        }
        &.link-btn {
            width: 8rem;
            top: 59%;
            right: 21%;
        }
    }
}

#show-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: rgba(40, 40, 40, .8);
    #msg-box {
        width: 25rem;
        // height: 11.75rem;
        position: absolute;
        top: 50%;
        margin-top: -11rem;
        left: 50%;
        margin-left: -12.5rem;
        background-color: #fff;
        border-radius: .5rem;
        .caption {
            // height: 7.25rem;
            border-bottom: 1px solid #e0e0e0;
            font-size: 1.6rem;
            line-height: 1.3;
            padding: 2rem 2.1rem 1.35rem 2.1rem;
            text-align: center;
            color: #909090;
        }
        .buttom-group {
            a {
                display: block;
                text-align: center;
                height: 4.5rem;
                line-height: 4.5rem;
                font-size: 1.5rem;
                color: #404040;
                &:first-child {
                    color: #909090;
                    border-right: 1px solid #e0e0e0;
                }
            }
        }
    }
}

.atButtom#show-dialog {
    #msg-box {
        left: 0;
        top: 100%;
        width: calc(100% - 2rem);
        height: auto;
        margin: 0;
        margin-left: 1rem;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3;
        transition: 0.3s;
        background-color: transparent;
        .caption {
            background-color: #fff;
            border-radius: 0.8rem 0.8rem 0 0;
            height: auto;
        }
        .buttom-group {
            a {
                width: 100%;
                margin-bottom: 0.8rem;
                background-color: #fff;
                border-radius: 0.8rem;
                color: #0076FF;
                &:first-child {
                    border-radius: 0 0 0.8rem 0.8rem;
                    color: #FE3824;
                }
            }
        }
    }
}

// pc显示
@media only screen and (min-width: 640px) {
    .atButtom#show-dialog {
        #msg-box {
            max-width: 32rem;
            left: 50%;
            margin-left: -16rem;
        }
    }
}

.cloned-img {
    width: 3rem;
    height: 3rem;
    z-index: 5000;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.tabs {
    .tab {
        a {
            color: #f9c9cb;
            &.active {
                color: #ee6e73;
            }
        }
    }
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1453864696_0341988.eot');
    /* ie9*/
    src: url('//at.alicdn.com/t/font_1453864696_0341988.eot?#iefix') format('embedded-opentype'), /* ie6-ie8 */
    url('//at.alicdn.com/t/font_1453864696_0341988.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1453864696_0341988.ttf') format('truetype'), /* chrome、firefox、opera、safari, android, ios 4.2+*/
    url('//at.alicdn.com/t/font_1453864696_0341988.svg#iconfont') format('svg');
    /* ios 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

.fixfixed header,
.fixfixed .category {
    position: absolute;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap > a {
    display: block;
    float: left;
    width: 100%;
    position: relative;
}

#slider {
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    .indicators {
        margin: 0;
        margin-top: -28px;
        .indicator-item {
            display: inline-block;
            position: relative;
            cursor: pointer;
            height: 16px;
            width: 16px;
            margin: 0 12px;
            background-color: #e0e0e0;
            -webkit-transition: background-color 0.3s;
            -moz-transition: background-color 0.3s;
            -o-transition: background-color 0.3s;
            -ms-transition: background-color 0.3s;
            transition: background-color 0.3s;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin: 0 5px;
        }
        .indicator-item.active {
            background-color: #e8a32f;
        }
    }
}

.bottom-button {
    display: block;
    height: 4.4rem;
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
    text-align: center;
    line-height: 4.4rem;
    font-size: 1.6rem;
    color: #fff;
    position: fixed;
    bottom: 0;
    background-color: #d0d0d0;
    z-index: 20;
    &.ready {
        background-color: #ef4444;
    }
}

.page-mask-wrapper,
.page-mask-wrapper>iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3000;
}

.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    content: "";
}

.clearfix {
    zoom: 1;
}

.big-text {
    font-size: 1.2rem;
}

.slogan-text {
    font-size: 1.2rem;
    color: $jhb-red;
    font-weight: bold;
}

.price-market {
    text-decoration: line-through;
}

.bottom-buttom {
    display: block;
    background-color: #ef4444;
    color: #fff;
    height: 4.4rem;
    line-height: 4.4rem;
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
}

// 纯图片广告弹窗
.activity-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    .mask-shadow {
        height: 100%;
        background: rgba(0, 0, 0, .6);
        overflow: hidden;
    }
    .popup-cont {
        width: 27.8rem;
        height: 36rem;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -13.9rem;
        margin-top: -18rem;
        img {
            width: 100%;
            height: 100%;
        }
        .closed {
            width: 2.9rem;
            height: 2.9rem;
            background: image-url('mobile/activity/closed.svg') center center no-repeat;
            background-size: 100% 100%;
            position: absolute;
            right: 0;
            top: -3rem;
        }
    }
}

// 没看过的优惠券
.nosee-coupon {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    h3 {
        margin: 0;
    }
    .mask-shadow {
        height: 100%;
        background: rgba(0, 0, 0, .6);
        overflow: hidden;
    }
    .coupon-item {
        width: 26rem;
        height: 32.5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -16.25rem;
        margin-left: -13rem;
        background: image-url('mobile/index/showCoupon-bg.png') center top no-repeat #eb4829;
        background-size: 100% 100%;
        border-radius: 1rem;
    }
    .title {
        text-align: center;
        font-size: 2.4rem;
        color: #FEEFC4;
        height: 5.5rem;
        line-height: 5.5rem;
        // background: image-url('mobile/index/title-bj.png') center top no-repeat;
        background-size: auto 5.5rem;
        margin-bottom: -1.5rem;
        position: relative;
        z-index: 1;
        margin-bottom: -1.5rem;
    }
    .subtitle{
      text-align: center;
      font-size: 1.2rem;
      line-height: 3rem;
      color: #fff;
    }
    .cont {
        padding: 0 1.6rem;
        margin: 0 auto 1.5rem;
        padding: 2.6rem 1rem 1rem;
        // background-color: #fff2c5;
        border-radius: 0.5rem;
        height: 26.5rem;
        width: 24.6rem;
        background: image-url('mobile/index/coupons-bg.png') center top no-repeat;
        background-size: 100% auto;

    }
    .coupon-list {
        height: 20.6rem;
        overflow-y: scroll;
    }
    .link {
        height: 3.2rem;
        line-height: 3.2rem;
        font-size: 1.5rem;
        color: #fff;
        width: 65%;
        margin: 0 auto;
        text-align: center;
        display: block;
        background-color: #FF960D;
        border-radius: 0.5rem;
    }
    // 优惠券样式
    .coupon-price {
      color: #EB535F;
      width: 8rem;
      span{
        font-size: 2.5rem;
        line-height: 2.4rem;
      }
      i{
        font-style: normal;
        font-size: 1.2rem;
      }
    }
    .coupon-list {
        li {
            height: 5.7rem;
            box-sizing: border-box;
            padding: 1rem;
            // border: 1px solid #f0f0f0;
            // box-shadow: 0.2rem 0.2rem #f0f0f0;
            // position: relative;
            background: image-url('mobile/index/coupon-bg.png') center top no-repeat;
            background-size: 100% 100%;
            margin-bottom: 0.6rem;
        }
        .coupon-state {
          // width: 12rem;
        }
        h4 {
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: #404040;
            margin: 0 0 0.4rem;
        }
    }
    .closed {
        width: 2.9rem;
        height: 2.9rem;
        background: image-url('mobile/activity/closed.svg') center center no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 11.55rem;
        bottom: -5rem;
    }
}

#fancybox-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(40, 40, 40, .8);
    z-index: 8060;
    .wrapper {
        background-image: image-url('mobile/base/fancybox_sprite.png');
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -22px;
        margin-left: -22px;
        background-position: 0 -108px;
        opacity: 0.8;
        cursor: pointer;
        div {
            width: 44px;
            height: 44px;
            background: image-url('mobile/base/fancybox_loading.gif') center center no-repeat;
        }
    }
}
// 没认证用户弹窗
#certified-tip{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1001;
  background: rgba(0,0,0,.5);

  .cerification-box{
    position: absolute;
    width: 23.5rem;
    height: 32.3rem;
    left: 50%;
    top: 50%;
    margin-left: -11.75rem;
    margin-top: -19.1rem;
    background: image-url('mobile/base/cerification-bj.png') center center no-repeat;
    background-size: 100% auto;
    padding-top: 18.5rem;
    text-align: center;
  }
  h2,p,.giveUp-cerification{
    color: #fff;
  }
  h2{
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  p{
    font-size: 1.2rem;
    line-height: 3.4rem;
    margin-bottom: 0.5rem;
  }
  .giveUp-cerification{
    font-size: 1.1rem;
  }
  .go-cerification{
    font-size: 1.5rem;
    color: #EC4D2D;
    display: inline-block;
    width: 15rem;
    height: 3.8rem;
    line-height: 3.8rem;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
  }
}
/*Retina graphics!*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading {
        .wrapper {
            background-image: image-url('mobile/base/fancybox_sprite@2x.png');
            background-size: 44px 152px;
            div {
                background-image: image-url('mobile/base/fancybox_loading@2x.gif');
                background-size: 24px 24px;
                /*The size of the normal image, half the size of the hi-res image*/
            }
        }
    }
}
