main.message{
  padding-top: 4.4rem;

  ul{
    margin: 0;
    padding-left: 1.2rem;
  }
  li{
    border-bottom: 1px solid #e0e0e0;
    padding: 1.2rem 0;
  }
  .img-box{
    height: 4.2rem;
    width: 4.2rem;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 0.2rem;
    i{
      position: absolute;
      right: -0.25rem;
      top: 0;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #ef4444;
      border-radius: 0.25rem;
    }
  }
  .bj0{
    background-image: image-url('mobile/notice/message-bj0.png');
  }
  .content{
    padding-right: 1.2rem;
    padding-left: 5.1rem;
  }
  h6{
    margin: 0;
    font-size: 1.3rem;
    color: #404040;
    margin-bottom: 0.5rem;
    span{
      font-size: 1.2rem;
      color: #606060;
    }
  }
  p{
    height: 3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #606060;
  }
}
main.message-content{
  padding-top: 4.4rem;
  ul{
    margin: 0;
    padding: 0 1.2rem;
  }
  .time{
    font-size: 1.2rem;
    color: #939393;
    line-height: 3.6rem;
    text-align: center;
  }
  .content{
    background-color: #fff;
    // height: 7rem;
    padding:  0.6rem 1.2rem;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0.05rem 0.1rem rgba(60,60,60,.15);
  }
  i{
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    background-color: #D0021B;
    border-radius: 0.25rem;
  }
  h6{
    font-size: 1.4rem;
    color: #404040;
    margin-bottom: 0.5rem;
    span{
      font-size: 1.3rem;
      float: right;
      color: #606060;
    }
  }
  p{
    font-size: 1.3rem;
    color: #606060;
  }
}
