// 扫码商品页
.scan-products-title{
  .header-right{
    width: 4rem;
    a{
      float: left;
      height: 100%;
      width: 100%;
      background: image-url('mobile/base/scan-cart.png') left center no-repeat;
      background-size: 2.2rem auto;
    }
    i{
      display: inline-block;
      font-style: normal;
      background-color: #EF4444;
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      font-size: 0.7rem;
      line-height: 1.2rem;
      top: 1rem;
      border-radius: 50%;
      color: #fff;
    }
  }
}

.scan-product{
  .product-img{
    width: 32rem;
    height: 36rem;
    text-align: center;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    i{
      line-height: 36rem;
    }
    img,i{
      vertical-align: middle;
    }
    .status-tip{
      color: #fff;
    }
  }
  .status-tip{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4rem;
    width: 100%;
    line-height: 4rem;
    background-color: rgba(0,0,0,.84);
    font-size: 1.6rem;
  }
  .product-info{
    background-color: #fff;
    padding-left: 1.2rem;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    p{
      color: #606060;
      line-height: 2.2rem;
    }
  }
  .product-title{
    padding-right: 1.2rem;
    span{
      vertical-align: middle;
    }
  }
  .title-name{
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  .text-tip{
    height: 1.3rem;
    line-height: 1.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .price-box{
    font-size: 1.2rem;
    color: #333333;
    border-bottom: 1px solid #E0E0E0;
    line-height: 4rem;
    margin-bottom: 0.5rem;
  }
  .price{
    font-size: 1.6rem;
    color: #F55C55;
  }
  .old-price{
    text-decoration: line-through;
    color: #909090;
  }
  .max-buy{
    float: right;
    color: #E62E46;
    padding-right: 1.2rem;
  }
  .no-product{
    background: image-url('mobile/base/no-products.png') center 3.5rem no-repeat;
    background-size: auto 6.4rem;
    padding-top: 10.5rem;
    padding-bottom: 2rem;
    background-color: #fff;
    margin-bottom: 1.25rem;
    p{
      font-size: 1.5rem;
      color: #606060;
      text-align: center;
    }
  }
}
.scan-buy{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  border-top: 1px solid #B0B0B0;
  background-color: #fff;
  .min-buy{
    float: right;
    margin-right: 9.5rem;
    font-size: 1.2rem;
    color: #E62E46;
  }
  .item-console{
    top: 0.9rem ;
    right: 1.2rem;
  }
}
.area-box{
  background-color: #fff;
  .area-title{
    height: 2.5rem;
    line-height: 2.5rem;
    color: #404040;
    font-size: 1.2rem;
    padding-left: 1.2rem;
  }
  .area{
    height: 9rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
  }
  .go-seckill{
    background-image: image-url('mobile/base/goSeckillBJ.png');
  }
  .area-cont{
    width: 19.5rem;
    height: 7rem;
    box-sizing: border-box;
    background-color: #fff;
    border: 0.5rem solid #EDD42E;
    padding: 2px;
    position: absolute;
    left: 6.25rem;
    top: 1rem;
  }
  .content{
    height: 100%;
    background-color: #EDD42E;
    text-align: center;
    padding: 0.5rem 1.5rem;
    color: #fff;
  }
  h6{
    margin: 0;
    font-size: 1.9rem;
    line-height: 2.7rem;
    border-bottom: 0.15rem solid #fff;
    span{
      color: #EC4D2D;
    }
  }
  p{
    font-size: 1.1rem;
    line-height: 2.1rem;
  }

}
.delete-icon{
  width: 3rem;
  height: 100%;
  display: inline-block;
  background: image-url('mobile/base/delete.png') left center no-repeat;
  background-size: auto 1.8rem;
}
.price-line{
  height: 2rem;
  line-height: 2rem;
  // background-color: blue;
}
.info-wrapper p{
  height: 1.5rem;
  // line-height: 1.5rem !important;
  padding-left: 1.5rem;
  color: #9B9B9B;
  font-size: 1.1rem;
  background: image-url('mobile/base/history-time.png') 0 0.2rem no-repeat;
  background-size: 1.1rem 1.1rem;
  // background-color: red;
}
body{
  background-color: #fff !important;
}
#item-box{
  padding-left: 0.6rem;
}
.main-list-item{
  background-color: #fff;
}
.main-list-item .info{
  background: image-url('mobile/right_icon.png') 28rem center no-repeat;
  background-size: 0.9rem auto;
}
.main-list-item .info .title{
  height: 3.6rem;
}
.scan-product .info .title{
  height: 5rem;
}
.no-history{
  width: 17rem;
  height: 21rem;
  padding-top: 18rem;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -10.5rem;
  margin-left: - 8.5rem;
  font-size: 1.6rem;
  color: #909090;
  background: image-url('mobile/base/no-history.png') center top no-repeat;
  background-size: 100% auto;
}
