<div class="title clearfix">
    <div class="left title_l">
        <h3>进货宝，一机在手，进货无忧！</h3>
        <span></span>
    </div>
    <div class="right title_r">
        <!-- <span style="padding-left:70px;"><em><%= Settings.order_money[cookies[:company_id]] %></em>满<%= Settings.order_money[cookies[:company_id]] %>包邮</span> -->
    </div>
</div>
