<%= javascript_include_tag 'pc/index'%>
<%= javascript_include_tag 'pc/buycart_edit'%>
<%= stylesheet_link_tag  'pc/help_center'%>
    <div class="content w990">
        <%= render 'slogan' %>
        <div class="content_b clearfix">
            <div class="sub_nav left" style="height:252px;">
                <h3>帮助中心首页</h3>
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/guide" class="size">购物指南</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/guide#001">>购物流程</a></li>
                            <li><a href="/common/guide#002">>配送时效说明</a></li>
                            <li><a href="/common/guide#003">>配送区域及运费</a></li>
                            <li><a href="/common/guide#004">>发票流程</a></li>
                            <li><a href="/common/guide#005">>支付方式</a></li>
                        </ul>
                    </div>
                </div>
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/after" class="size">售后服务</a>
                    <div class="center_hide" style="display:block;">
                        <ul>
                            <li><a href="/common/after#006">>退款规则</a></li>
                            <li><a href="/common/after#007">>退货流程</a></li>
                        </ul>
                    </div>
                </div>
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/service" class="size">客服热线</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/service">>服务时间</a></li>
                            <li><a href="/common/service">>客服热线</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/business" class="size">商家服务</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/business">敬请期待</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/about" class="size">关于进货宝</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/about">>关于我们</a></li>
                            <li><a href="/common/join_us">>人才招聘</a></li>
                            <li><a href="/common/reports">>媒体报道</a></li>
                            <!-- <li><a href="/common/partners">>合作伙伴</a></li> -->
                            <li><a href="/common/contact_us">>联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content_words left" style="padding-bottom:80px;">
                <div class="top">
                    <h3><em>帮助中心</em>&nbsp;>售后服务</h3>
                </div>
                <div class="sm">
                    <h4><a name="006">退款规则</a><span></span></h4>
                    <p style="margin-top:10px;">进货宝的退货规则</p>
                    <p>
                        亲爱的用户，我们所售商品均为正品，并可提供发票，同时严格遵循国家三包法规。为保障您的权益，请您签收时
                        与配送人员当面核对，确认无误后再进行签收。您对商品进行签收后，进货宝将不再为以上问题负责。如发生退货，
                        请一定于每天9:00-21:00联系客服，我们将及时为您处理，感谢配合！
                    </p>
                </div>
                <div class="sm">
                    <h4><a name="007">退货流程</a><span></span></h4>
                    <p style="margin-top:10px;">
                        (1) &nbsp;进货宝严格遵循国家《三包》法规，对本超市所售商品履行退货义务,如符合以下条件，自顾客收到商品起7日
                        内可退货：
                    </p>
                    <p>A：商品出现国家《三包》法规中所规定的非人为质量问题；</p>
                    <p>2、发票开错</p>
                    <p>
                        亲如果收到发票与订单中不符，可联系客服，告知姓名和订单号，同时告知正确的发票信息。客服确认信息后，亲
                        将原发票寄回后，客服安排新开发票。
                    </p>
                    <p>
                        B：商品有完整的外包装外，无包装破损，不影响二次销售。商品及其标配配件、赠品（如购买时有赠品）、说明
                        书、保修凭证和发票、进货宝发货清单均齐全（如申请退货的商品为成套商品中的一个商品如礼盒、礼包，则需退此
                        整套商品）；
                    </p>
                    <p>C：进货宝严格遵循国家《三包》法规，对所售商品履行退货的义务：</p>
                    <p>
                        D：所有退货经过进货宝客服中心确认后即可办理，如果商品存在质量问题，请务必说明原因。
                        未与进货宝客服中心确认之前主动退回的商品我们将无法受理。
                    </p>
                    <p>E：如需退货，请在收到商品后7天内联系我们。</p>
                    <p style="margin-top:20px;">(2)&nbsp;以下情况无法提供退货服务：</p>
                    <p>A: 任何非进货宝出售的商品；</p>
                    <p>B：无质量问题且外包装已拆无法复原，影响二次销售；</p>
                    <p>C：为了您和他人健康安全，食品、饮料等涉及个人卫生的产品一经开封如无质量问题，不接受退货；</p>
                    <p>D：超过国家《三包》法规中规定的退货的有效期；</p>
                    <p>E: 擅自撕毁或涂改商品标贴、序列号、防伪标记。</p>
                    <p style="margin-top:20px;">(3)&nbsp;退换货费用问题</p>
                    <p>如果是买家原因退货，由买家自行承担退货费用。</p>
                    <p>如果是商品质量问题、描述不符而导致的退货，退货费用则应由进货宝承担。</p>
                    <p>
                        如果是未经确认而擅自退回的商品，您的退货申请将不被受理。此时商品将通过平邮方式退还给您，按原地址返回
                        的运费由您承担。
                    </p>
                </div>
            </div>
        </div>
    </div>
