<%= stylesheet_link_tag  'pc/help_center'%>

<div class="top-img contact-us">
    <div class="shadow"></div>
    <div class="text-box w1200">
        <p class="big">我们为您提供贴心服务</p>
        <p class="small">快消品一站式采购平台</p>
    </div>
</div>
<ul class="contact w1200 clearfix">
    <li class="fl">
        <div class="name">
            <p class="cn">李牮</p>
            <p class="en">LI JIAN</p>
        </div>
        <div class="job-box">
            <p class="job">区域市场合作</p>
            <p class="tel"><a href="tel:15201478831">15201478831</a></p>
            <p class="mail"><a href="mailto:jian.li@davidchoice.com">jian.li@davidchoice.com</a></p>
        </div>
    </li>
    <li class="fr">
        <div class="name">
            <p class="cn">张洋</p>
            <p class="en">ZHANG YANG</p>
        </div>
        <div class="job-box">
            <p class="job">商务投资</p>
            <p class="tel"><a href="tel:18610182760">18610182760</a></p>
            <p class="mail"><a href="mailto:doris.zhang@davidchoice.com">doris.zhang@davidchoice.com</a></p>
        </div>
    </li>
    <li class="fl">
        <div class="name">
            <p class="cn">叶生博</p>
            <p class="en">YE SHENG BO</p>
        </div>
        <div class="job-box">
            <p class="job">品牌合作</p>
            <p class="tel"><a href="tel:15210946140">15210946140</a></p>
            <p class="mail"><a href="mailto:shengbo.ye@davidchoice.com">shengbo.ye@davidchoice.com</a></p>
        </div>
    </li>
</ul>
