<%= javascript_include_tag 'pc/index'%>
<%= javascript_include_tag 'pc/buycart_edit'%>
<%= stylesheet_link_tag  'pc/help_center'%>
    <div class="content w990">
        <%= render 'slogan' %>
        <div class="content_b clearfix">
            <div class="sub_nav left" style="height:252px;">
                <h3>帮助中心首页</h3>
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/guide" class="size">购物指南</a>
                    <div class="center_hide" style="display:block;">
                        <ul>
                            <li><a href="/common/guide#001">>购物流程</a></li>
                            <li><a href="/common/guide#002">>配送时效说明</a></li>
                            <li><a href="/common/guide#003">>配送区域及运费</a></li>
                            <li><a href="/common/guide#004">>发票流程</a></li>
                            <li><a href="/common/guide#005">>支付方式</a></li>
                        </ul>
                    </div>
                </div>
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/after" class="size">售后服务</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/after#006">>退款规则</a></li>
                            <li><a href="/common/after#007">>退货流程</a></li>
                        </ul>
                    </div>
                </div>
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/service" class="size">客服热线</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/service">>服务时间</a></li>
                            <li><a href="/common/service">>客服热线</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/business" class="size">商家服务</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/business">敬请期待</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/about" class="size">关于进货宝</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/about">>关于我们</a></li>
                            <li><a href="/common/join_us">>人才招聘</a></li>
                            <li><a href="/common/reports">>媒体报道</a></li>
                            <!-- <li><a href="/common/partners">>合作伙伴</a></li> -->
                            <li><a href="/common/contact_us">>联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content_words left" style="padding-bottom:80px;">
                <div class="top">
                    <h3><em>帮助中心</em>&nbsp;>购物指南</h3>
                </div>
                <div class="shop clearfix">
                    <h4><a name="001">购物流程</a><span></span></h4>
                    <div class="liuc left">
                        <div class="frist">
                            <h3><i></i>1.查找商品</h3>
                            <span>&#8226;&nbsp;按分类浏览</span>
                            <span>&#8226;&nbsp;搜索商品</span>
                        </div>
                    </div>
                    <div class="sanj left"><span></span></div>
                    <div class="liuc left">
                        <div class="second">
                            <h3><i></i>2.放入购物车</h3>
                            <span>&#8226;&nbsp;去结算</span>
                            <span>&#8226;&nbsp;或继续购物</span>
                        </div>
                    </div>
                    <div class="sanj left"><span></span></div>
                    <div class="liuc left">
                        <div class="third">
                            <h3><i></i>3.提交订单</h3>
                            <span>&#8226;&nbsp;选择是否开具发票</span>
                            <span>&#8226;&nbsp;选择支付方式</span>
                        </div>
                    </div>
                </div>
                <div class="sm">
                    <h4><a name="002">配送时效说明</a><span></span></h4>
                    <p style="margin:10px 0;">48小时内送达</p>
                    <p>补充说明：</p>
                    <p>(1)以上服务承诺指配送到城市的主城区，乡镇村配送时效可能顺迟1-2天；</p>
                    <p>(2)法定节假日、重大促销活动、交通管制、自然灾害或其他不可抗拒的因素导致延迟不在此服务承诺涵盖范围内。</p>
                </div>
                <div class="sm">
                    <h4><a name="003">配送区域及费用</a><span></span></h4>
                    <p style="margin:10px 0;">亲爱的用户，进货宝现阶段的配送范围是：北京市（朝阳区、昌平区、海淀区）。</p>
                    <p>补充说明：</p>
                    <p>
                        1)以上服务承诺指配送到主城区，边远地区对收货地址有一定的限制，（如乡镇村边远郊区超出配送范围）订单将无法提交，可以尝试下单哦。
                    </p>
                    <p>(2)其他暂时不支持购买与配送的地区，我们会不断扩大我们的配送范围，提升我们的服务。建议您后期持续关注。</p>
                </div>
                <div class="sm">
                    <h4><a name="004">发票流程</a><span></span></h4>
                    <p style="margin-top:10px;">1、发票补开</p>
                    <p>
                        亲如果在下单时忘记勾选发票，实际未收到发票，可以致电客服，告知发票抬头及内容。客服确认此订单未开发票且内容与商品信息相符后安排补开发票。
                    </p>
                    <p>2、发票开错</p>
                    <p>
                        亲如果收到发票与订单中不符，可联系客服，告知姓名和订单号，同时告知正确的发票信息。客服确认信息后，请将原发票寄回后，客服安排新开发票。
                    </p>
                    <p>3、发票其他常见问题</p>
                    <p>Q：目前进货宝可开具发票内容？</p>
                    <p>A：日用品、饮料、食品、酒</p>
                    <p>Q：我需要开具增值税发票，你们能开吗？</p>
                    <p>
                        A：可以开具，由于各地税务政策不一样，麻烦亲根据您在进货宝购买站点的不同提供对应相关材料，收到有效资料后，正常情况下将在2周内为您开具增值税发票。（如有疑问可以联系客服。注：下单时请勿勾选需要发票，如已勾选，需在收到货之后将普票寄回。）
                    </p>
                </div>
                <div class="sm">
                    <h4><a name="005">支付方式</a><span></span></h4>
                    <p style="margin-top:10px;">亲爱的用户，进货宝现在支持现金支付以及POS机刷卡支付，刷卡支付有优惠哟。支付宝和更多移动支付马上开通。</p>
                </div>
            </div>
        </div>
    </div>
