<%= stylesheet_link_tag  'pc/help_center'%>

    <div class="top-img join-us">
        <div class="shadow"></div>
        <div class="text-box w1200">
            <p class="big">在这里你可以得到你想要的</p>
            <p class="small">快消品一站式采购平台</p>
        </div>
    </div>
    <div class="join w1200">
        <div class="item">
            <h2>技术类</h2>
            <ul class="item-list clearfix">
                <li>
                    <a href="http://www.lagou.com/jobs/2193151.html" target="_blank">数据产品经理</a>
                </li>
                <li class="two">
                    <a href="http://www.lagou.com/jobs/2192532.html" target="_blank">.NET开发<br>工程师</a>
                </li>
                <li class="two">
                    <a href="http://www.lagou.com/jobs/2192553.html" target="_blank">Ruby开发<br>工程师</a>
                </li>
                <li class="two hidden">
                    <a href="javascript:;" target="_blank">Web前端<br>开发工程师</a>
                </li>
                <li class="two hidden">
                    <a href="javascript:;" target="_blank">软件测试<br>开发工程师</a>
                </li>
                <li class="two hidden">
                    <a href="javascript:;" target="_blank">IOS开发<br>开发工程师</a>
                </li>
            </ul>
        </div>
        <div class="item">
            <h2>运营类</h2>
            <ul class="item-list clearfix">
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250059.htm?ssidkey=y&ss=201&ff=03" target="_blank">运营经理</a>
                </li>
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250063.htm?ssidkey=y&ss=201&ff=03" target="_blank">用户运营经理</a>
                </li>
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250056.htm?ssidkey=y&ss=201&ff=03" target="_blank">品类运营经理</a>
                </li>
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250066.htm?ssidkey=y&ss=201&ff=03" target="_blank">数据分析经理</a>
                </li>
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250055.htm?ssidkey=y&ss=201&ff=03" target="_blank">媒介主管</a>
                </li>
            </ul>
        </div>
        <div class="item">
            <h2>业务类</h2>
            <ul class="item-list clearfix">
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250037.htm?ssidkey=y&ss=201&ff=03" target="_blank">商务拓展经理</a>
                </li>
                <li class="two hidden">
                    <a href="javascript:;" target="_blank">区域市场运营<br>(全国)</a>
                </li>
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250053.htm?ssidkey=y&ss=201&ff=03" target="_blank">BD经理</a>
                </li>
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250065.htm?ssidkey=y&ss=201&ff=03" target="_blank">采购助理</a>
                </li>
                <li class="hidden">
                    <a href="javascript:;" target="_blank">业务员</a>
                </li>
            </ul>
        </div>
        <div class="item">
            <h2>职能类</h2>
            <ul class="item-list clearfix">
                <li class="two hidden ">
                    <a href="javascript:;" target="_blank">总经办<br>行政助理</a>
                </li>
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250058.htm?ssidkey=y&ss=201&ff=03" target="_blank">财务分析经理</a>
                </li>
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250040.htm?ssidkey=y&ss=201&ff=03" target="_blank">部门助理</a>
                </li>
                <li>
                    <a href="http://jobs.zhaopin.com/298539736250064.htm?ssidkey=y&ss=201&ff=03" target="_blank">销售助理</a>
                </li>
                <li class="two">
                    <a href="http://jobs.zhaopin.com/298539736250061.htm?ssidkey=y&ss=201&ff=03" target="_blank">人力资源<br>实习生</a>
                </li>
            </ul>
        </div>
    </div>

