<% content_for :header do %>
<header class="no-search clearfix second-page-header">
  <div class="header-left">
    <a href="javascript:goBack()" id="back">
      <!-- <%= image_tag "mobile/base/back.svg" %> -->
    </a>
  </div>
  <!--  -->
  <div class="ordersHeader_title">关于我们</div>
  <div class="header-right" style="width: 5rem;"></div>
</header>
<% end %>
<% content_for :main do %>
  <main class="" style="padding-top: 4.5rem;">
    <div class="padding">
      <h4 style="font-size:20px; text-align: center;">进货宝：社区商业的伙伴平台</h4>
      <p style="margin-top:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015年9月，大卫之选信息技术（北京）股份有限公司旗下全资子公司，北京大卫之选网络科技有限公司正式推出移动社区商业B2B采购平台——进货宝。进货宝致力于直接链接品牌厂商和亿万社区小微商家，以去中间化为目的，大幅提升传统零售流通效率；通过提供基于移动互联及大数据技术的电商平台服务、软件服务、智能物流服务及互联网金融服务等，帮助社区小微商家降低进货成本，提高生产效率，推动社区商业的产业升级与发展，打造渠道互联网+背景下的社区商业新生态。</p>
      <h4 style="font-size:18px; font-weight:600; margin-top:10px;">进货宝：社区商业的伙伴平台</h4>
      <p style="margin-top:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当我们在两年以前建立的时候，我们想做一家别具一格的电商企业，对移动互联网商业的探索，就从那个时候开始。两年来，互联网重构商业了生态。供应与需求，渠道与服务，推广与合作，所有商业要素都已经发生了完全颠覆性的，不可逆的变化。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一切都变了。从根本上变了。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;就拿现在火遍全网的滴滴打车来说，在打车软件兴起之前，出租汽车司机中的智能手机用户百分比，只有寥寥的个位数；在那个时候，他们似乎并不需要使用智能手机，他们习惯满大街无目的的空驶，隔着车窗询问客户要去的地方，而后把乘客拉走或者拒载之后，扬长而去。经历过一段时间和变化之后，出租车行业的商业生态的颠覆发生了。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这段时间，将是最重要的时间，这些变化，将是根本性的变化。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今天我要和大家沟通的主题，是关于社区商业未来。更确切的说，是关于社区商业如何进入互联网+的时代。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社区商业是一个非常笼统的称呼；它是指所有存在于社区中的小型或微型的商业体。它可能是居民楼下的一个杂货铺型的小超市小卖部，一个喜欢晒太阳的老爷子掌管着自家铺面；可能是社区门口的一家小吃店，平常卖米粉夏天也开夜市卖点啤酒和凉菜；可能是隐藏在老街区里，也可能在马路边上；这些社区商业体，往往都是自家的房子做的小营生，有的已经经营了十几年，老板认识一栋楼乃至一片小区的住户居民，一听可乐，一根冰棍，一瓶啤酒，家长里短的闲聊的时光里，小孩子慢慢长大，大人们这样变老，浓浓的人情味，就这样洋溢在社区里。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;突然有一天，电商改变了这一切。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人们的采购开始向网络转移，尤其是移动互联网转移，社区商业逐渐受到影响。人们开始习惯在网上通宵达旦的购物，把寻找更低价格当做一种技术，把集中购买的商业节日当做群体狂欢。电商或者网商的本质，就是去掉一切非必要的中间过程，减少流通环节，在大规模采购的前提下，给消费者更多实惠，延续规模优势。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网商的核心是集中，平台集中，供应集中，消费集中。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社区商业在传统商业结构中处于最下游，最末端，最小规模也微不足道的，因为购买额度低而受到歧视的社区商业体，本来就是分级批发商最后的压榨对象，他们是厂家指导零售价之前最后的一环。他们利润微博，却要拿全市场几乎最贵的商品价格，在社区里与能够提供全网最低价格的网商网站争夺一个个小额的订单。他们越来越累，收益却越来越少。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有很多企业在做社区，但没人去帮助那些已经存在的社区商业。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;做社区的商业企业目前都遭到了失败。为什么会失败？有的是通过物流来覆盖所谓的最后一公里，承诺无论买多少，都会送货上门，但最终，社区小额而多样化的采购，将收益消耗殆尽；有的希望绕开那些小商铺，自建统一的社区品牌店，但因为高昂的租金成本以及对社区需求的完全脱节，最终一败涂地。失败的原因只有一个，他们重视自己的利益，而没有考虑过，社区究竟需要什么。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社区需要什么呢？我们知道。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社区是很多人的家，是生活的地方。在社区里，所有能够形成商业的位置点，其实都已经有了——那就是我们在前面说过的：社区小微商铺。他们在社区里，已经存在许久；他们在电商出现之前，甚至在网络出现之前，就已经服务于社区的民众；或许，在此刻，如果受到提醒，你就还能记起小时候，夏日里在小卖部里喝到一瓶冰镇汽水的喜悦。我们觉得社区小微商业是伟大的。不仅因为他们距离消费者最近，近到最后一秒，最后一米；不仅因为他们很勤劳，很纯朴；而且只有他们，认识和关心几乎所有的消费者——因为他们把消费者看做亲友，而不是买家。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所以，帮助了他们，就是服务了社区。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们知道，很多的社区小微商铺的经营者可能已经白发苍苍，有些文化程度不高，有些辛苦工作了很多年，才把一份社区里的小超市当做退休之后的工作场所；他们不太了解移动互联网，也不一定使用的是智能手机。但是这些不重要。最重要的是，我们要帮助他们，不仅仅基于对他们由心的尊重，也因为他们构建了真正服务于每个社区、每个家庭、每个消费者的，有人情味的，真正意义上的社区商业。</p>
      <h4 style="font-size:18px; font-weight:600; margin-top:10px;">我们计划通过“进货宝”来帮助他们。</h4>
      <p style="margin-top:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“进货宝”是我们开发的一个商务服务平台，把生产端的生产企业进行集合，形成对社区小微商业的支持，小微商业的业主可以拿到一级经销商的进货价格，摆脱一切中间商的盘剥；通过“进货宝”这个社区小微商业供货平台，他们可以查找最优惠的正品进货渠道，摆脱自营超市进货的难题，可以从辛劳的自主进货流程中解脱；他们可以通过智能手机或者终端，看到“进货宝”非常简单的界面，把自己的货品管理起来，什么卖的好，什么货滞销，什么脱销需要补货，不用靠感觉，一下子就一目了然。他们可以通过进货宝24小时随时下单，并且可以享受进货宝平台平台特卖产品，比如泸州老窖集最新的年份酒等等，这些产品是专供给社区商业的。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;但是，面对中国广袤土地上的几百个城市，千万个社区，我们有什么信念，决定启动这个帮助社区商业的计划？</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们相信平等。我们相信互联网精神，是让所有人获得知识和信息的平等权利。我们要帮助那些在移动互联网时代可能没有获得效益的社区小微商业，帮助他们获取信息权益和时代红利，让他们继续服务于社区和公众，包括你和我这样的年轻人。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这段时间，将是最重要的时间，这些变化，将是根本性的变化。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;变化正在发生。 “进货宝” 对于社区小微商业，是决定性的变化。因为进货宝从出现的第一刻开始，就是服务于社区小微商业的，而不是试图占有社区区位，强夺用户，建立堡垒。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最后，我们考虑过很多的传播口号，总结过一些产业意义，但都太学术了而不够亲切直接。此刻我觉得，“进货宝”品牌如果是一个人的话，他将对对全国的所有社区小微商业业主说：“你服务于社区，我服务于你。”</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;是的，就这么简单，这么直接；而且与社区小微商铺一样，靠谱，亲近，有人情味。</p>
    </div>
  </main>
  <script>
    $(".header-right").click(function () {
      var objStr, objStrArr,str;
      objStr = navigator.userAgent.match(/JinHuoBao\/(.+)/g);
      objStrArr = objStr.toString().split("/");
      str = "当前版本"+(objStrArr[1].toString());
      showDialog(str);
    })
  </script>
<% end %>
<!-- <a href="/activity/test"> </a> -->
<% content_for :footer do %>&nbsp;<% end %>
