<!--  没有使用-->
<% content_for :header do %>
<header class="no-search clearfix">
  <div class="header-left">
    <a href="javascript:goBack()" id="back"></a>
  </div>
  <div class="ordersHeader_title">新品上架</div>
</header>
<% end %>

<% content_for :main do %>
<!-- container -->
<main class="package-page  jhb-grey">
  <div class="top-img">

  </div>
  <ul class="botttom-cont cont-bgcolor">
    <li class="cont-items">
      <div class="item-img">
        <img src="">
        <p class="img-text">舒肤佳沐浴套餐</p>
      </div>
      <div class="item-text">

      </div>
    </li>
  </ul>
</main>

<!-- 首页秒杀专区块 -->
<div class="activity-one">
  <div class="one-left">
    <div class="left-title"></div>
    <p>距<span>24</span>点开场还剩<span class="red-text">99:99:99</span></p>
    <div class="hot-img">
      <img src="">
    </div>
  </div>
  <div class="one-right row">
    <div class="r-top col s12">
      <h3>
        超值套餐
      </h3>
      <p>必备搭配<br>省钱更省心<p>
      <img src="">
    </div>
    <div class="r-bottom ">
      <div class="rb-left col s6">
        <h4>新品上市</h4>
        <p>惠利全城<br>惊喜不断</p>
        <img src="">
      </div>
      <div class="rb-right col s6">
        <h4>特卖市场</h4>
        <p>精挑细选<br>见证低价</p>
        <img src="">
      </div>
    </div>
  </div>
</div>
<!-- 宫格导航 -->

<ul class="gg-nav clearfix">
  <li>
    <a href="##">
      <span>零食</span>
      <img src="">
    </a>
  </li>
  <li>
    <a href="##">
      <span>零食</span>
      <img src="">
    </a>
  </li>
  <li>
    <a href="##">
      <span>零食</span>
      <img src="">
    </a>
  </li>
  <li>
    <a href="##">
      <span>零食</span>
      <img src="">
    </a>
  </li>
</ul>

<style type="text/css">
  .gg-nav li {
    width: 10.4rem;
    height: 5rem;
    line-height: 4rem;
    font-size: 1.4rem;
    color: #404040;
    float: left;
    padding: 0.5rem 0.9rem;
    text-align: center;
    border: 1px solid #e0e0e0;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: #fff;
  }
  .gg-nav a{
    display: block;
    height: 100%;
  }
  .gg-nav span{
    /*display: inline-block;
    height: 4rem;
    line-height: 4rem;*/
  }
  .gg-nav img{
    width: 4rem;
    height: 4rem;
    float: right;
  }
</style>


<!-- 热门推荐 -->
<div class="hot-show">
  <h2>热门推荐</h2>
  <div class="show-cont">
    <div class="cont-img">
      <img src="">
      <em></em>
    </div>
    <div class="cont-box">
      <ul class="cont-items clearfix">
        <li class="cont-item">
            <div class="item-img">
              <img src="">
            </div>
            <div class="item-text">
              <div class="text-top">
                <h3 class="text-title" click= " $(this).html().length > 5 ? $(this).html($(this).html().slice(0,17)+ '...') : '' ">蓝月亮洗衣液薰衣草香护衣护色低泡易漂1kg</h3>
                <p class="speci">规格：<span>1kg</span><span>/瓶</span></p>
              </div>
              <p class="price"><strong class="red-text">¥999.99<i>/瓶 </i></strong><span class="old-price text-line">¥999.99/瓶</span> </p>
            </div>
        </li>
        <li class="cont-item">
            <div class="item-img">
              <img src="">
            </div>
            <div class="item-text">
              <div class="text-top">
                <h3 class="text-title" click= " $(this).html().length > 5 ? $(this).html($(this).html().slice(0,17)+ '...') : '' ">蓝月亮洗衣液薰衣草香护衣护色低泡易漂1kg</h3>
                <p class="speci">规格：<span>1kg</span><span>/瓶</span></p>
              </div>
              <p class="price"><strong class="red-text">¥999.99<i>/瓶 </i></strong><span class="old-price text-line">¥999.99/瓶</span> </p>
            </div>
        </li>
        <li class="cont-item">
            <div class="item-img">
              <img src="">
            </div>
            <div class="item-text">
              <div class="text-top">
                <h3 class="text-title" click= " $(this).html().length > 5 ? $(this).html($(this).html().slice(0,17)+ '...') : '' ">蓝月亮洗衣液薰衣草香护衣护色低泡易漂1kg</h3>
                <p class="speci">规格：<span>1kg</span><span>/瓶</span></p>
              </div>
              <p class="price"><strong class="red-text">¥999.99<i>/瓶 </i></strong><span class="old-price text-line">¥999.99/瓶</span> </p>
            </div>
        </li>
        <li class="cont-item">
            <div class="item-img">
              <img src="">
            </div>
            <div class="item-text">
              <div class="text-top">
                <h3 class="text-title">蓝月亮洗衣液薰衣草香护衣护色低泡易漂1kg</h3>
                <p class="speci">规格：<span>1kg</span><span>/瓶</span></p>
              </div>
              <p class="price"><strong class="red-text">¥999.99<i>/瓶 </i></strong><span class="old-price text-line">¥999.99/瓶</span> </p>
            </div>
        </li>
        <li class="cont-item no-item">

        </li>
      </ul>
    </div>
  </div>
</div>
<style type="text/css">

  .hot-show{
    background-color: #fff;
    padding: 1rem 0.8rem 0rem;
    border-top: 1px solid #e0e0e0;
  }
  .hot-show h2,
  .hot-show h3,
  .hot-show ul{
    margin: 0;
  }
  .hot-show img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    border: none;
  }
  .hot-show h2{
    font-size: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    color: #404040;
    padding-left: 0.6rem;
    border-left: 0.2rem solid #E62E46;
    margin-bottom: 0.8rem;
  }
  .show-cont .cont-img{
    width: 30.4rem;
    height: 11.4rem;
    position: relative;
  }
  .cont-img em{
    position: absolute;
    height: 0;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent red transparent;
    border-width: 0 0.8rem 0.8rem 0.8rem;
    left: 50%;
    bottom: 0;
    margin-left: -0.4rem;
  }
  .show-cont .cont-box{
    position: relative;
    width: 100%;
    padding: 0.8rem 0;
    overflow-y: auto;
  }
  .cont-box .cont-items{
    width: 92.8rem;
  }
  .cont-items .cont-item{
    float: left;
    height: 16.3rem;
    width: 10.8rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 0.3rem #e0e0e0;
    border: 1px solid #e0e0e0;
    padding: 0.8rem 0 0.8rem 0.8rem;
    color: #909090;
    font-size: 0.9rem;
    margin-right: 0.8rem;
    background-color: #fff
  }
  .cont-item .item-img{
    width: 9.2rem;
    height: 9.2rem;
  }
  .cont-item h3{
    font-size: 1rem;
    color: #5E5E5E;
    height: 2.2rem;
    overflow: hidden;
    margin-bottom: 0.6rem;
  }
  .cont-item .speci{
    margin-bottom: 0.2rem;
  }
</style>
<script type="text/javascript">
  $(".item-text .text-title").each(function(){
    $(this).html().length > 19? $(this).html($(this).html().slice(0,17)+ '...') : '';
  })
</script>


<!-- 猜你需要 -->
<div class="think-love">
  <h2 class="love-title">
    <span>猜你需要</span>
  </h2>
  <ul class="cont-items clearfix">
        <li class="cont-item">
            <div class="item-img">
              <img src="">
            </div>
            <div class="item-text">
              <div class="text-top">
                <h3 class="text-title" click= " $(this).html().length > 5 ? $(this).html($(this).html().slice(0,17)+ '...') : '' ">蓝月亮洗衣液薰衣草香护衣护色低泡易漂1kg</h3>
                <p class="speci">规格：<span>1kg</span><span>/瓶</span></p>
              </div>
              <p class="price"><strong class="red-text">¥999.99<i>/瓶 </i></strong><span class="old-price text-line">¥999.99/瓶</span> </p>
            </div>
        </li>
        <li class="cont-item">
            <div class="item-img">
              <img src="">
            </div>
            <div class="item-text">
              <div class="text-top">
                <h3 class="text-title" click= " $(this).html().length > 5 ? $(this).html($(this).html().slice(0,17)+ '...') : '' ">蓝月亮洗衣液薰衣草香护衣护色低泡易漂1kg</h3>
                <p class="speci">规格：<span>1kg</span><span>/瓶</span></p>
              </div>
              <p class="price"><strong class="red-text">¥999.99<i>/瓶 </i></strong><span class="old-price text-line">¥999.99/瓶</span> </p>
            </div>
        </li>
        <li class="cont-item">
            <div class="item-img">
              <img src="">
            </div>
            <div class="item-text">
              <div class="text-top">
                <h3 class="text-title" click= " $(this).html().length > 5 ? $(this).html($(this).html().slice(0,17)+ '...') : '' ">蓝月亮洗衣液薰衣草香护衣护色低泡易漂1kg</h3>
                <p class="speci">规格：<span>1kg</span><span>/瓶</span></p>
              </div>
              <p class="price"><strong class="red-text">¥999.99<i>/瓶 </i></strong><span class="old-price text-line">¥999.99/瓶</span> </p>
            </div>
        </li>
        <li class="cont-item">
            <div class="item-img">
              <img src="">
            </div>
            <div class="item-text">
              <div class="text-top">
                <h3 class="text-title">蓝月亮洗衣液薰衣草香护衣护色低泡易漂1kg</h3>
                <p class="speci">规格：<span>1kg</span><span>/瓶</span></p>
              </div>
              <p class="price"><strong class="red-text">¥999.99<i>/瓶 </i></strong><span class="old-price text-line">¥999.99/瓶</span> </p>
            </div>
        </li>
        <li class="cont-item no-item">

        </li>
      </ul>
</div>

<style type="text/css">
  h2,h3,ul{
    margin: 0;
  }
  body{
    background-color: #F4F4F4;
  }
  .think-love{
    padding: 0 1rem;
  }
  .think-love .love-title{
    font-size: 1.3rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }
  .love-title span{
    padding: 0 1.2rem;
    position: relative;
  }
  .love-title span::before,
  .love-title span::after{
    content: "";
    height: 2px;
    width: 10rem;
    position: absolute;
    top: 0.75rem;
    background-color: #606060;

  }
  .love-title span::before{
    left: -10rem;
  }
  .love-title span::after{
    right: -10rem;
  }

  .think-love .cont-item{
    width: 14.6rem;
    height: 21.6rem;
  }
  .think-love .item-img{
    width: 13rem;
    height: 13rem;
  }
  .think-love .cont-items{
    padding-top: 0;
    margin-right: -0.8rem;
  }
  .think-love .cont-item{
    margin-bottom: 0.8rem;
  }
  .think-love .text-title{
    margin-bottom: 0.85rem;
  }
  .think-love .speci{
    margin-bottom: 0.6rem;
    font-size: 1rem;
  }
  .think-love .price{
    font-size: 1rem;
  }
</style>
<br><br><br><br><br><br><br><br><br>












<% end %>
<% content_for :footer do %>
    <i></i>
<% end %>
<% content_for :script do %>
<script>

</script>
<%= javascript_include_tag 'orders', 'data-turbolinks-track' => true %>
<% end %>
