<%= javascript_include_tag 'pc/index'%>
<%= javascript_include_tag 'pc/buycart_edit'%>
<%= stylesheet_link_tag  'pc/help_center'%>

    <div class="content w990">
        <%= render 'slogan' %>
        <div class="content_b clearfix">
            <div class="sub_nav left" style="height:252px;">
                <h3>帮助中心首页</h3>
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/guide" class="size">购物指南</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/guide#001">>购物流程</a></li>
                            <li><a href="/common/guide#002">>配送时效说明</a></li>
                            <li><a href="/common/guide#003">>配送区域及运费</a></li>
                            <li><a href="/common/guide#004">>发票流程</a></li>
                            <li><a href="/common/guide#005">>支付方式</a></li>
                        </ul>
                    </div>
                </div>
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/after" class="size">售后服务</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/after#006">>退款规则</a></li>
                            <li><a href="/common/after#007">>退货流程</a></li>
                        </ul>
                    </div>
                </div>
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/service" class="size">客服热线</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/service">>服务时间</a></li>
                            <li><a href="/common/service">>客服热线</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/business" class="size">商家服务</a>
                    <div class="center_hide">
                        <ul>
                            <li><a href="/common/business">敬请期待</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="shop_zn">
                    <a href="javascript:;" class="center_show"><em class="add"></em></a>
                    <a href="/common/about" class="size">关于进货宝</a>
                    <div class="center_hide" style="display:block;">
                        <ul>
                            <li><a href="/common/about">>关于我们</a></li>
                            <li><a href="/common/team">>团队介绍</a></li>
                            <li><a href="/common/join_us">>人才招聘</a></li>
                            <li><a href="/common/reports">>媒体报道</a></li>
                            <!-- <li><a href="/common/partners">>合作伙伴</a></li> -->
                            <li><a href="/common/contact_us">>联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content_words left" style="padding-bottom:80px;">
                <div class="top">
                    <h3><em>帮助中心</em>&nbsp;>关于进货宝</h3>
                </div>
                <div class="sm" style="padding-bottom: 700px;">
                    
                </div>
            </div>
        </div>
    </div>
    
