<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head'%>
  </head>
  <body class="black" style="background:#fff;">
    <div class="main-wrapper">
      <%= render 'shared/login_header' %>
      <%= yield %>

    </div>
    <%= render 'shared/footer' %>
  </body>

  <script>
	    var _hmt = _hmt || [];
	    (function () {
	        var hm = document.createElement("script");
	        hm.src = "//hm.baidu.com/hm.js?0a6477c3e0a39e5749fa4f2284f5f2ac";
	        var s = document.getElementsByTagName("script")[0];
	        s.parentNode.insertBefore(hm, s);
	    })();
	</script>
  <script language="JavaScript">
      javascript: window.history.forward(1);
  </script>

</html>
